@charset "utf-8";
@import "font-awesome/scss/font-awesome";
@import "compass";
@import "compass/layout/stretching";

@include global-reset;

body {
  background: #d4d4d4;
  color: #666;
  color: rgba(0,0,0,0.6);
  font-family: 'Lato', sans-serif;
  margin: 0;
  text-align: center;
  text-shadow: 1px 1px #DDD;
}

.dark {
  color: #ddd;
  color: rgba(255,255,255, 0.6);
  text-shadow: 1px 1px #000;
  .ncs input {
    border-bottom: 2px solid #fff;
    border-bottom-color: rgba(255,255,255, 0.6);
  }

}

* {
  outline: none;
}

.toggle {
  color: inherit;
  font-size: 28px;
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
}

.ncs {
  font-size: 48px;
  margin-top: 200px;
  input{
    background: none;
    border: none;
    border-bottom: 2px solid #666;
    border-bottom-color: rgba(0,0,0,0.6);
    color: inherit;
    font-size: 48px;
    text-transform: uppercase;
    text-shadow: inherit;
    width: 280px;
  }
}

.sheet {
  background-color: #ccc;
  position: absolute;
  top: 0;
  bottom: 0;
}

.warning {
  display: none;
  font-size: 14px;
  color: inherit;
}

#main {
  @include transition(width 0.3s cubic-bezier(0.694, 0.0482, 0.335, 1));
  width: 100%;
  z-index: 10;
}
#second {
  @include transition(opacity 0.3s cubic-bezier(0.694, 0.0482, 0.335, 1));
  right: 0;
  width: 50%;
  @include opacity(0);
}
.compare {
  #main {
    width: 50%;
    .toggle {
      display: none;
    }
  }
  #second {
    @include opacity(1);
  }
}

#author {
  bottom: 7px;
  color: inherit;
  font-size: 12px;
  position: absolute;
  right: 17px;
  z-index: 20;
  a {
    border-bottom: 1px dotted;
    color: inherit;
    font-size: inherit;
    font-weight: normal;
    text-decoration: none;
  }
  span {
    margin-left: 5px;
    margin-right: 5px;
  }
}
