#main.sheet
  .close ◑
  .ncs
    %span NCS S
    %input{:type => 'text', :value => '1810-Y58G'}
    .warning Not a valid NCS color

#second.sheet
  .close &times;
  .ncs
    %span NCS S
    %input{:type => 'text', :value => '1820-R58G'}
    .warning Not a valid NCS color

